.header {
    max-width: 400px;
    margin-bottom: 23px;
}

.header__title {
    font-size: 46px;
    margin: 0;
    margin-bottom: 23px;
}

.header__title span {
    color: #6dE1c2;
}

.header__description {
    font-size: 14px;
    margin: 0;
}