.form {
    max-width: 500px;
}

.form__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form__item {
    padding: 0 12px 16px;
    max-width: 400px;
}

.form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #737b7d;
}

.form__file {}

.form__file_input {}

.form__file_text {}

.form__checkbox {}

.form__checkbox_input {}

.form__checkbox_text {}

.form__button {}